<!-- Banner -->
<div class="page-banner volunteer">
  <div class="shadow-box">
    <div class="banner-content page-canvas page-title">
      <h2>Volunteer</h2>
      <h3 class="white-text">"NO DOUBT THEY WILL GO ON TO DO GREAT THINGS"</h3>
      <p class="white-text"><em>—Denise D., Volunteer Office and Account Manager</em></p>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-1col">
    <p class="lead">
    Red Sweater Project is made possible by the generosity of our skilled volunteers and local Tanzanian staff. We are a global community that believes when woven together, our strengths can accomplish more than any one of us alone.
    </p>
    <p class="lead">
    We offer short- and long-term positions both in Tanzania and abroad. Volunteer work ranges from writers who contribute remotely, to office support, to teachers who live at our staff house for an entire school year and work in the classroom daily.
    </p>
  </div>
</div>
<hr>
<!-- <div class="flex">
  <div class="flex-item-image">
    <img src="../images/volunteer_young_group.jpg" />
  </div>
</div> -->

<div class="flex page-canvas">
  <div class="flex-item-1col">
    <h2>AVAILABLE POSITIONS</h2>
    <p class="lead">
      All teaching positions require an MA in teaching and ELS training. Positions are in Tanzania unless otherwise noted. Don't see a position, but you'd love to volunteer? Send an email with a CV/resume to <a href="mailto:volunteer@redsweaterproject.com?Subject=Volunteering">volunteer@redsweaterproject.com</a>
    </p>
    <a href="mailto:volunteer@redsweaterproject.com?Subject=Volunteering"><button type="button" name="button" class="btn-yellow">Apply for a Position</button></a>
  </div>
<!-- </div> -->

<!-- <div class="flex page-canvas"> -->
  <div class="flex-item-1col">
    <% if @positions.any? %>
      <% @positions.each do |position| %>
        <div class="col-sm-8">
          <hr>
          <h3><%= position.title %></h3>
          <div class="row">
            <div class="col-sm-3">
              <p><strong>Location:</strong></p>
              <p><%= position.location %></p>
            </div>
            <div class="col-sm-5">
              <p><strong>Term:</strong></p>
              <p><em><%= position.term %></em></p><br/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p><strong>Stipend:</strong></p>
              <% if position.stipend != nil %>
                <p>$<%= position.stipend%>/month, as well as free
                accommodation, orientation and training</p>
              <% else %>
                <p>This position does not include a stipend.</p>
              <% end %>
              <br/><p><strong>Details:</strong></p>
              <p><%= position.details %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <br>
      <p>
        There are no available positions at this time.</p>
    <% end %>
  </div>
</div>


<div class="blue">
  <div class="flex page-canvas">
    <div class="flex-item-1col">
      <h2>VOLUNTEER GROUPS</h2>
      <p class="lead">
        Red Sweater Project partners with numerous volunteer groups each year who travel to Tanzania to complete projects at the Mungere School.</p>
        <br>
      <p><strong>
        Past volunteer groups have included:
      </strong></p>

      <ul class="padded">
        <li>• Moondance Adventures</li>
        <li>• Engineers without Borders</li>
        <li>• Pacific University's School of Optometry</li>
        <li>• Harvard's School of Engineering</li>
      </ul>
      <br>
      <p>
        Our volunteers have worked on a full gammut of projects: from planning and designing the solar-power system, to performing eye exams, to painting new classrooms, and running creative workshops with students.
      </p>
    </div>
  </div>
</div>

<div class="flex">
  <div class="page-canvas" id="volunteer-map-container">
    <div class="flex-item-1col" id="map"></div>
  </div>
</div>
<div class="flex">
  <div class="flex-item-1col page-canvas no-top-pad">
    <p><em>
      Red Sweater Project volunteers come from all over the world.
    </em></p>
  </div>
</div>


<!-- <div class="flex">
  <div class="flex-item-2col">

  </div>
  <div class="flex-item-2col">
    <img src="images/DSCN1239.jpg">
  </div>
</div> -->

<div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>BE A DONOR</h2>
        <p class="lead">Help us to get kids into red sweaters, and off to school. Every dollar makes a difference.
        </p>
        <div class="dropdown">
          <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose your gift
            <span class="caret"></span>
          </button> -->
          <div class="btns-wrapper">
            <%= link_to 'DONATE', new_charge_path, :class=>"btn btn-solid"%>
          </div>
          <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
            <li><a href="#">500</a></li>
            <li><a href="#">1000</a></li>
          </ul> -->
      </div>
    </div>
  </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>

<script type="text/javascript">
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
