<div class="flex page-canvas">

  <div class="flex-item-1col col-sm-4 py-4 px-auto intro" style="height: 600px">


    <h2 class="mt-4">Log in</h2>
    <div class="login-block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check form-check-inline">
            <%= f.label :remember_me, :class=>"form-check-label" %>
            <%= f.check_box :remember_me, :class=>"form-check-input" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", :class => "btn btn-solid" %>
        </div>
      <% end %>
      <hr>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
