<%= render "layouts/errors", :object => @student %>

<h5>STUDENTS</h5>
<%= form_for @student, remote: true do |f| %>
  <%= f.label :name, 'Full Name' %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :age, 'Age' %>
  <%= f.text_field :age, class: "form-control" %>
  <%= f.label :bio, 'Bio (optional)' %>
  <%= f.text_field :bio, class: "form-control" %>
  <%= f.label :fullbio, 'Full Bio PDF' %>
  <%= f.text_field :fullbio, class: "form-control" %>
  <%= f.label :dream, 'When I grow up, I want to be a...' %>
  <%= f.text_field :dream, class: "form-control" %>
  <!-- <%= f.radio_button :sponsored, false %>
  <%= f.label :sponsored_no, 'Not sponsored' %>
  <%= f.radio_button :sponsored, true %>
  <%= f.label :sponsored_yes, 'Sponsored!' %><br> -->

  <%= f.label :image, 'Image' %>
  <%= f.file_field :image%>

  <div class="radio">
    <%= f.radio_button :gender, 'boy', :class => "inline" %>
    <%= f.label :gender_boy, 'boy', :class => "inline"  %>
    <%= f.radio_button :gender, 'girl', :class => "inline" %>
    <%= f.label :gender_girl, 'girl', :class => "inline" %><br>
  </div>
  <%= f.submit class: 'btn btn-yellow' %>
  <button type="button" id="cancel" class="btn btn-grey">Cancel</button>
<% end %>
