<div class="page-banner sponsor">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2>"We are <span style="color:#fdbe16;">so proud</span> of our sponsored student, Ashura"</h2>
      <p><strong class="white-text">--Don and Jessie A.</strong></p>
    </div>
  </div>
</div>

    <!-- Intro -->
    <div class="flex page-canvas">
    	<div class="flex-item-1col">
				<h2>SPONSOR A STUDENT</h2>
        <h5><strong>$125 per month or $1,500 a year</strong></h5>
        <p>
          Sponsorship of a child equips them with everything they need to be successful in the classroom. It’s also an opportunity to build a lasting, meaningful friendship.
          Sponsors receive:
        </p>
        <ul>
          <li>• Handwritten letters and drawings from your student</li>
          <li>• A chance to exchange letters and stories, as well as to learn from a new friend</li>
        </ul>
        <h5><strong>Sponsored students receive:</strong></h5>
        <ul>
          <li>• A quality education with certified, experienced teachers</li>
          <li>• School supplies</li>
          <li>• A school uniform, including their red sweater!</li>
          <li>• Basic health and first-aid care including medicines to treat illness such as malaria, typhoid, and pneumonia. We want to keep our kids out of the hospital and in the classroom.</li>
          <li>• Access to extra-curricular activities including soccer, basketball, track, field trips and life-skills workshops</li>
          <li>• Two nutritious meals every school day with fresh vegetables from our organic garden</li>
          <li>• Safe drinking water</li>
        </ul>
				</div>
			</div>

      <hr>

  <div class="flex page-canvas">
    <div class="flex-item-1col intro">
      <h2>SPONSOR A STUDENT</h2>
    </div>
  </div>
  <div class="flex page-canvas items-wrap">
    <% @students.each do |student| %>
      <div class="col-sm-3 sponsor-students">
        <%= image_tag("#{student.image}.png", :class => "img-responsive img-rounded") %>
          <h5><strong><%= student.name %></strong></h5>
          <p><em><%= student.age %> year-old <%= student.gender %></em><br>
          I want to become: <br>A <%= student.dream %></p>
          <% if student.sponsored %>
            <p><strong>Sponsored!</strong></p>
          <% else %>
            <%= link_to "Sponsor", students_path, :class => "btn btn-yellow" %>
          <% end %>
        </div>
    <% end %>
  </div>

<div class="blue">
  <div class="flex page-canvas">
    <div class="flex-item-1col">
      <h2>INVEST IN A GOOD CAUSE ON CAMPUS</h2>
      <h5><strong>Choose your gift amount and your cause</strong></h5>
      <p>
        There are several projects underway  at the Mungere Schools that need the support of sponsors like you. Commit to a yearly lump sum, or a monthly donation to support the cause of your choosing. Project sponsorships are year-long commitments with the option to continue sponsorship of the same project, or update your gift to go toward another project on campus.
      </p>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-1col intro">
    <h2>GOOD CAUSES ON CAMPUS</h2>
    <p>Choose your gift amount and your cause</p>
  </div>
</div>
<div class="flex page-canvas items-wrap">
  <% if @goodcauses.any? %>
    <% @goodcauses.each do |cause| %>
      <div class="flex-item-3col sponsor-students">
        <%= image_tag("#{cause.image}.png") %>
        <h5><strong><%= cause.name %></strong></h5>
        <p>Cost to completion: <br>
          $<%= cause.cost %></p>
          <%= link_to "Contribute", students_path, :class => "btn btn-yellow" %>
      </div>
    <% end %>
  <% end %>
</div>


<div class="yellow">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>STORIES FROM STUDENTS AND STAFF</h2>
        <p>
          Explore true stories to learn more about our students, staff, and the work being done at the Mungere School.
        </p>
        <div class="btns-wrapper">
          <a href="#" class="btn btn-secondary">EXPLORE THE BLOG</a>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col sponsor_bottom">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col sponsor_bottom">
  </div>
</div>
