<div class="page-banner sponsor">
  <div class="shadow-box">
    <div class="banner-content page-canvas page-title">
      <h2>Sponsor A Student</h2>
        <!-- <p>"We are <span style="color:#fdbe16;">so proud</span> of our sponsored student, Ashura"</p>
        <p><strong class="white-text">--Don and Jessie A.</strong></p> -->
    </div>
  </div>
</div>

    <!-- Intro -->
    <div class="flex page-canvas">
    	<div class="flex-item-1col">
        <p class="lead">
          Sponsorship of a child equips them with everything they need to be successful in the classroom. It’s also an opportunity to build a lasting, meaningful friendship. USD $125 per month or USD $1,500 a year
        </p>
        <ul class=""><p><strong>Sponsors receive:</strong></p>
          <li>• Handwritten letters and drawings from your student</li>
          <li>• A chance to exchange letters and stories, as well as to learn from a new friend</li>
        </ul>

        <ul class=""><p><strong>Sponsored students receive:</strong></p>
          <li>• A quality education with certified, experienced teachers</li>
          <li>• School supplies</li>
          <li>• A school uniform, including their red sweater!</li>
          <li>• Basic health and first-aid care including medicines to treat illness such as malaria, typhoid, and pneumonia. We want to keep our kids out of the hospital and in the classroom.</li>
          <li>• Access to extra-curricular activities including soccer, basketball, track, field trips and life-skills workshops</li>
          <li>• Two nutritious meals every school day with fresh vegetables from our organic garden</li>
          <li>• Safe drinking water</li>
        </ul>
				</div>
			</div>

      <!-- <hr> -->

  <div class="flex page-canvas">
    <!-- <div class="flex-item-1col intro">
      <h2>STUDENTS IN NEED OF SPONSORSHIP</h2>
    </div> -->
  </div>
  <div class="flex page-canvas items-wrap">
    <div class="row">
      <% @students.each do |student| %>
        <div class="col-sm-3 sponsor-students">
          <a href="../images/bios/<%= student.biolink %>" target="_blank" class="imagelink">
          <%= image_tag("#{student.image}.png", :class => "img-responsive img-rounded") %></a>
            <h3><strong><%= student.name %></strong></h3>
            <p><%= student.age %> year-old <%= student.gender %></p>
            <p><strong>I want to become: </strong><br/><%= student.dream %></p>
            <p><a href="../images/bios/<%= student.biolink %>" target="_blank">Learn more about me</a></p>
            <!-- <a href="../images/bios/#{<%= student.bio %>}"></a> -->
            <!-- <p><%= student.bio %></p> -->
            <% if student.sponsored %>
              <p><strong>Sponsored!</strong></p>
            <% else %>
              <%= link_to "Sponsor", students_path, :class => "btn btn-yellow" %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
<hr>

<div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>WHY EAST AFRICA?</h2>
        <p class="lead">
          It’s a long way from Portland to Tanzania. Read how our founder, Ashley Holmer, first saw the potential in a red sweater and explore our timeline to see how far we’ve come since 2005.
        </p>
        <div class="btns-wrapper">
          <a href="/pages/ourstory" class="btn btn-solid">SEE HOW IT ALL BEGAN</a>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourstory_CTA">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourstory_CTA">
  </div>
</div>
