<div class="container">


<div class="section-name intro">
  <div class="intro-wrapper">

    <div class="col-sm-9" id="admin-students-list">
      <div class="row">
        <h2>Edit students and Events</h2>
        <%= link_to "Add a student |", new_student_path, remote: true %>
        <%= link_to "Add an event |", new_event_path %>
        <%= link_to "Add a position", new_position_path, remote: true %>
        <br>
        <br>
      </div>
      <% @students.each do |student| %>
        <div class="col-sm-3 admin-student-view" id="student_<%= student.id %>">
          <%= image_tag("#{student.image_file_name}") %>
          <h4><strong><%= student.name %></strong></h4>
          <p><em><%= student.age %> year-old <%= student.gender %></em><br>
          I want to become: A <%= student.dream %></p>
          <hr>
          <%= link_to "Update #{student.name}", edit_student_path(student), remote: true %><br>
          <%= link_to "Delete", student_path(student), :data => {:confirm => "Are you sure you want to remove this student from the sponsorship page?", method: :delete}, remote: true %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3" id="change-form" >

    </div>
  </div>
</div>


<div class="section-name intro">
  <div class="col-sm-12" events>
    <h2>Upcoming events</h2>
    <% @events.each do |event| %>
      <div class="col-sm-12 event">
        <div class="col-sm-6">
          <%= image_tag("#{ event.image }") %>
        </div>
        <div class="col-sm-6 event-details">
          <h4><strong><%= event.name %></strong></h4>
          <p><%= event.time %><%= event.date %>
          <%= event.details %></p>
          <%= link_to "Update #{event.name}", edit_event_path(event), :class => "btn btn-default" %>
          <%= link_to "Delete", event_path(event), :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to remove this event from the events page?", :method => "delete"} %>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
</div>
<div class="flex col-sm-12">
  <div class="flex-item-2col" id="admin-positions-list">
    <h2>Edit Positions</h2>
    <% if @positions.any?%>
      <ul>
        <% @positions.each do |position| %>
          <div class="col-sm-3" id="position_<%= position.id %>">
            <p><strong><%= position.title %></strong></p>
            <p><%= position.location %></p>
            <p><%= position.term %></p>
            <% if position.stipend != 0 %>
              <p>This position offers a monthly stipend of: $<%= position.stipend%>
              </p>
            <% end %>
            <%= link_to "Update #{position.title}", edit_position_path(position), remote: true %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="flex-item-2col" id="position-change-form" >

  </div>
</div>
