<div class="row">
  <ul class="flex admin-nav">
    <div class="dropdown">
      <p class="dropbtn">ADD NEW CONTENT</p>
      <div class="dropdown-content">
        <li><%= link_to "students", new_student_path, remote: true %></li>
        <li><%= link_to "events", new_event_path, remote: true %></li>
        <li><%= link_to "positions", new_position_path, remote: true %></li>
        <li><%= link_to "causes", new_goodcause_path, remote: true %></li>
      </div>
    </div>
    <div class="dropdown">
      <p class="dropbtn">EDIT EXISTING CONTENT</p>
      <div class="dropdown-content">
        <li><a href="#students-content">Students</a></li>
        <li><a href="#events-section">events</a></li>
        <li><a href="#positions-section">positions</a></li>
        <li><a href="#causes-section">causes</a></li>
        <li><a href="#blog-posts-section">blog posts</a></li>
      </div>
    </div>
  </ul>
</div>

  <div class="col-sm-9">
    <h2 class="admin-student-headline">EDIT STUDENTS</h2>
  </div>
  <div class="col-sm-9">
    <li><%= link_to "Add a student", new_student_path, remote: true %></li>
  </div>

<div class="container-fluid">

  <div class="flex items-wrap col-sm-9" id="admin-students-list">
    <% @students.each do |student| %>
      <div class="col-sm-3 sponsor-students" id="student_<%= student.id %>">
        <%= image_tag("#{student.image_file_name}", :class => "img-responsive img-rounded") %>
        <h5><strong><%= student.name %></strong></h5>
        <p><em><%= student.age %> year-old <%= student.gender %></em><br>
        I want to become: <%= student.dream %></p>
        <br/>
        <%= link_to "Update #{student.name}", edit_student_path(student), remote: true %><br>
        <%= link_to "Delete", student_path(student), :data => {:confirm => "Are you sure you want to remove this student from the sponsorship page?", method: :delete}, remote: true, class: "red" %>
      </div>
    <% end %>
  </div>

  <div class="update col-sm-3" id="change-form" >
  </div>

  <div class="col-sm-9">
    <hr id="events-section">
  </div>
  <div class="col-sm-9">
    <h2>EDIT EVENTS</h2>
  </div>
  <div class="col-sm-9">
    <li><%= link_to "Add an event", new_event_path, remote: true %></li>
  </div>

  <div class="flex items-wrap col-sm-9" id="admin-events-list">
    <% @events.each do |event| %>
      <div class="col-sm-3 sponsor-students" id="event_<%= event.id %>">
        <%= image_tag("#{ event.image }", :class => "img-responsive img-rounded") %>
        <h5><strong><%= event.name %></strong></h5>
        <p><%= event.start %>
        <%= event.details %></p>
        <br/>
        <%= link_to "Update #{event.name}", edit_event_path(event), remote: true %><br>
        <%= link_to "Delete", event_path(event), :data => {:confirm => "Are you sure you want to remove this event from the events page?", :method => "delete"}, remote: true, class: "red" %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3" id="event-change-form" >
  </div>

  <div class="col-sm-9">
    <hr id="positions-section">
  </div>
  <div class="d-flex nowrap">
    <div class="col-sm-9">
      <div class="col-sm-9">
        <h2>EDIT POSITIONS</h2>
      </div>
      <div class="col-sm-9">
        <li><%= link_to "Add a position", new_position_path, remote: true %></li>
      </div>
      <div class="flex col-sm-12" id="admin-positions-list">
        <% if @positions.any?%>
          <% @positions.each do |position| %>
            <div class="col-sm-3 sponsor-students" id="position_<%= position.id %>">
              <h5><strong><%= position.title %></strong></h5>
              <p><%= position.location %></p>
              <p><em><%= position.term %></em></p><br/>
              <% if position.stipend != nil %>
                <p>This position offers a monthly stipend of: $<%= position.stipend%>, as well as free
                accommodation, orientation and training</p>
              <% else %>
                <p>This position does not include a stipend.</p>
              <% end %>
              <br/>
              <%= link_to "Update", edit_position_path(position), remote: true %><br>
              <%= link_to "Delete", position_path(position), :data => {:confirm => "Are you sure you want to remove this position?", method: :delete}, remote: true, class: "red" %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="col-sm-3">
    <div class="" id="position-change-form" >
    </div>
  </div>
</div>

  <div class="col-sm-9">
    <hr id="causes-section">
  </div>
  <div class="col-sm-9">
    <h2>EDIT CAUSES</h2>
  </div>
  <div class="col-sm-9">
    <li><%= link_to "Add a cause", new_goodcause_path, remote: true %></li>
  </div>
  <div class="flex col-sm-9" id="admin-causes-list">
    <% if @goodcauses.any?%>
      <% @goodcauses.each do |goodcause| %>
        <div class="col-sm-3 sponsor-students sponsor-project" id="goodcause_<%= goodcause.id %>">
          <%= image_tag("#{goodcause.image}", :class => "img-responsive img-rounded") %>
          <h5><strong><%= goodcause.name %></strong></h5>
          <p>Suggested Donation: $<%= goodcause.suggested %></p>
          <p><%= goodcause.details %></p>
          <br/>
          <%= link_to "Update", edit_goodcause_path(goodcause), remote: true %><br/>
          <%= link_to "Delete", goodcause_path(goodcause), :data => {:confirm => "Are you sure you want to remove this cause?", method: :delete}, remote: true, class: "red" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="update col-sm-3" id="cause-change-form" >
  </div>

  <div class="col-sm-9">
    <hr id="blog-posts-section">
  </div>
  <div class="col-sm-9">
    <h2>EDIT BLOG POSTS</h2>
  </div>
  <div class="col-sm-9">
    <li><%= link_to "Add a new blog post", new_post_path, remote: true %></li>
  </div>
  <div class="flex col-sm-9" id="admin-posts-list">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="col-sm-3 sponsor-students" id="post_<%= post.id %>" >
          <h5><strong><%= post.title %></strong></h5>
          <p><%= post.created_at.strftime('%b %d, %Y') %></p>
          <p><em><%= post.author %></em></p>
          <br/>
          <%= link_to "Update", edit_post_path(post), remote: true %> |
          <%= link_to "Delete", post_path(post), :data => {:confirm => "Are you sure you want to remove this blog post?", method: :delete}, remote: true, class: "red" %>
        </div>
      <% end %>
    <% end %>
    <div class="col-sm-3" id="post-change-form" >

    </div>
  </div>
  <div class="col-sm-9">
    <hr>
  </div>

</div>
