<div class="row">
  <ul class="flex admin-nav">
    <div class="dropdown">
      <p class="dropbtn">ADD NEW CONTENT</p>
      <div class="dropdown-content">
        <li><%= link_to "students", new_student_path, remote: true %></li>
        <li><%= link_to "events", new_event_path, remote: true %></li>
        <li><%= link_to "positions", new_position_path, remote: true %></li>
        <li><%= link_to "causes", new_goodcause_path, remote: true %></li>
      </div>
    </div>
    <div class="dropdown">
      <p class="dropbtn">EDIT EXISTING CONTENT</p>
      <div class="dropdown-content">
        <li><a href="#students-content">Students</a></li>
        <li><a href="#events-section">events</a></li>
        <li><a href="#positions-section">positions</a></li>
        <li><a href="#causes-section">causes</a></li>
        <li><a href="#blog-posts-section">blog posts</a></li>
      </div>
    </div>
  </ul>
</div>

<br>
<div class="flex page-canvas">
  <div class="flex-item-1col intro">
    <h2 class="admin-student-headline">EDIT STUDENTS</h2>
  </div>
</div>
<div class="flex page-canvas items-wrap" id="admin-students-list">
  <% @students.each do |student| %>
    <div class="flex-item-3col admin-student-view" id="student_<%= student.id %>">
      <%= image_tag("#{student.image_file_name}") %>
      <h4><strong><%= student.name %></strong></h4>
      <p><em><%= student.age %> year-old <%= student.gender %></em><br>
      I want to become: A <%= student.dream %></p>
      <%= link_to "Update #{student.name}", edit_student_path(student), remote: true %><br>
      <%= link_to "Delete", student_path(student), :data => {:confirm => "Are you sure you want to remove this student from the sponsorship page?", method: :delete}, remote: true %>
    </div>
  <% end %>
  <div class="update" id="change-form" >

  </div>
</div>

<div class="section-name intro flex">
  <div class="col-sm-8" id="admin-events-list">
    <hr id="events-section">
    <h2>EDIT EVENTS</h2>
    <% @events.each do |event| %>
      <div class="col-sm-3 admin-events-view" id="event_<%= event.id %>">
          <%= image_tag("#{ event.image }") %>
          <h4><strong><%= event.name %></strong></h4>
          <p><%= event.time %><%= event.date %>
          <%= event.details %></p>
          <%= link_to "Update #{event.name}", edit_event_path(event), remote: true %><br>
          <%= link_to "Delete", event_path(event), :data => {:confirm => "Are you sure you want to remove this event from the events page?", :method => "delete"}, remote: true %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3" id="events-form">

  </div>
</div>

<div class="section-name intro">
  <div class="flex" id="admin-positions-list">
    <hr id="positions-section">
    <h2>EDIT POSITIONS</h2>
    <% if @positions.any?%>
      <ul>
        <% @positions.each do |position| %>
          <div class="flex-item-3col admin-student-view" id="position_<%= position.id %>">
            <p><strong><%= position.title %></strong></p>
            <p><%= position.location %></p>
            <p><%= position.term %></p>
            <% if position.stipend != 0 %>
              <p>This position offers a monthly stipend of: $<%= position.stipend%>
              </p>
            <% end %>
            <%= link_to "Update #{position.title}", edit_position_path(position), remote: true %><br>
            <%= link_to "Delete #{position.title}", position_path(position), :data => {:confirm => "Are you sure you want to remove this position?", method: :delete}, remote: true %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-sm-3" id="position-change-form" >
  </div>
</div>
<div class="section-name intro flex">
  <div class="col-sm-8" id="admin-causes-list">
    <hr id="causes-section">
    <h2>EDIT CAUSES</h2>
    <% if @goodcauses.any?%>
      <ul>
        <% @goodcauses.each do |goodcause| %>
          <div class="col-sm-3 admin-causes-view" id="goodcause_<%= goodcause.id %>">
            <%= image_tag("#{goodcause.image}") %>
            <p><strong><%= goodcause.name %></strong></p>
            <p><em>Cost to completion: $<%= goodcause.cost %></em></p>
            <p><%= goodcause.details %></p>
            <%= link_to "Update #{goodcause.name}", edit_goodcause_path(goodcause), remote: true %>
            <%= link_to "Delete #{goodcause.name}", goodcause_path(goodcause), :data => {:confirm => "Are you sure you want to remove this cause?", method: :delete}, remote: true %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-sm-3" id="cause-change-form" >

  </div>
</div>
<div class="section-name intro flex">
  <div class="col-sm-6">
  <hr id="blog-posts-section">
  <h2>EDIT BLOG POSTS</h2>
  <% if @posts.any? %>
    <ul>
      <% @posts.each do |post| %>
        <div id="post_<%= post.id %>" >
          <li><h5><%= post.created_at.strftime('%b %d, %Y') %></h5><%= post.title %>, <em><%= post.author %></em></li>
          <%= link_to "Update", edit_post_path(post), remote: true %> |
          <%= link_to "Delete", post_path(post), :data => {:confirm => "Are you sure you want to remove this blog post?", method: :delete}, remote: true %>
        </div>
      <% end %>
    </ul>
  <% end %>
  <hr>
  </div>
  <div class="col-sm-4" id="post-change-form" >

  </div>
</div>
