<!DOCTYPE html>
<html>
  <head>
    <title>Red Sweater Project</title>
    <%= csrf_meta_tags %>
    <script src="https://use.typekit.net/rbv5wsv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Red Sweater Project", root_path, class: "navbar-brand" %>
        </div>

          <ul class="nav navbar-nav">
            <li><%= link_to "Sponsor", students_path %></li>
            <li><%= link_to "Events", events_path %></li>
          </ul>
          <ul class="nav navbar-right">
            <!-- <li><%= link_to "Admin", admin_index_path %></li> -->
            <li class="dropdown">
              <a href="/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Admin dashboard", admin_index_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Add a student who needs sponsorship", new_student_path %></li>
                <li><%= link_to "Add an event", new_event_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "All events", events_path %></li>
                <li><%= link_to "All students", admin_index_path %></li>
              </ul>
            </li>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
