<head><link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css"></head>


<!-- Banner -->
<div class="page-banner events">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2>If you want to go fast,
        <span class="yellow-text">go alone</span><br>
      If you want to go far,
      <span class="yellow-text">go together</span></h2>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-1col intro">
    <h2>UPCOMING EVENTS</h2>
  </div>
</div>
<div class="page-canvas">
  <% if @events.any? %>
    <% @events.each do |event| %>
      <div class="flex">
        <div class="flex-item-2col">
            <%= image_tag("#{ event.image }")%>
        </div>
        <div class="flex-item-2col">
          <div>
            <h5><%= event.name %></h5>
            <p><%= event.time %></p>
            <p><%= event.date.strftime("%B %d, %Y") %></p>
            <br>
            <p><%= event.details %></p>
            <br>
            <span class="addtocalendar atc-style-blue">
              <var class="atc_event">
                <var class="atc_date_start">2016-05-04 12:00:00</var>
                <var class="atc_date_end">2016-05-04 18:00:00</var>
                <var class="atc_timezone">Europe/London</var>
                <var class="atc_title"><%= event.name %></var>
                <var class="atc_description"><%= event.details %></var>
                <var class="atc_location">tbd</var>

              </var>
            </span>
            <%= link_to "Add to cart", students_path, :class => "btn btn-solid" %>
          </div>
          <hr class="mobile-hr yellow-hr">
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="yellow">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>DON'T MISS THE LATEST</h2>
        <!-- <p>
          It’s a long way from Tanzania, East Africa, to Detroit. Hear how our founder, Ashley Holmer, first saw the potential in a red sweater. And explore our timeline to see how far we’ve come since 2005.
        </p> -->
        <div class="btns-wrapper">
          <%= link_to 'CHECK OUT THE BLOG', posts_path, :class=>"btn btn-secondary"%>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>

<script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
</script>
