<div class="page-banner tours">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2>Red Rhino Tours</h2>
      <p class="white-text">As a social business, all proceeds from tours fund Red Sweater Project and improve access to education in East Africa</p>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-1col">
    <h2>COME VISIT TANZANIA</h2>
    <h5><strong>TRAVEL + LEISURE HAS NAMED TANZANIA ONE OF THE TOP PLACES TO VISIT IN 2017:</strong></h5>
    <ul>
      <li>• Go on safari and see the big 5: lions, rhino, buffalo, elephants, and leopards as well as giraffes, cheetahs and hundreds of species unique to Africa</li>
      <li>• Embark on a spice tour before walking along the white sands and turquoise waters of Zanzibar</li>
      <li>• Shop for original hand-carved sculptures and jewelry by local artisans</li>
      <li>• Visit the Mungere School and participate in a service project with gauranteed impact</li>
      <li>• Take a guided trek to the summit of Mt. Kilimanjaro</li>
    </ul>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-3col">
    <%= image_tag("/images/tour1.png") %>
    <h5><strong>3-DAY SAFARI</strong></h5>
    <p>Additional details about this trip, bullets about what's included, etc.</p>
    <p><em>Starting at $2500</em></p>
  </div>
  <div class="flex-item-3col space-second">
    <%= image_tag("/images/tour2.png") %>
    <h5><strong>5-DAY SAFARI</strong></h5>
    <p>Additional details about this trip, bullets about what's included, etc.</p>
    <p><em>Starting at $4000</em></p>
  </div>
  <div class="flex-item-3col">
    <%= image_tag("/images/tour3.png") %>
    <h5><strong>ZANZIBAR SPICE TOUR</strong></h5>
    <p>Additional details about this trip, bullets about what's included, etc.</p>
    <ul>
      <li>• Sail along turqoise waters</li>
      <li>• Enjoy fresh seafood, and hand-pressed juice, and tropical fruits at the market</li>
      <li>• Take a spice tour, and see if you can identify cinnamon, pepper, and lemongrass</li>
    </ul>
    <p><em>Starting at $2000</em></p>
  </div>
</div>
<div class="flex page-canvas">
  <div class="flex-item-3col">
    <%= image_tag("/images/tour4.png") %>
    <h5><strong>SUMMIT KILIMANJARO + SAFARI</strong></h5>
    <p>Additional details about this trip, bullets about what's included, etc.</p>
    <p><em>Starting at $2500</em></p>
  </div>
  <div class="flex-item-3col space-second">
    <%= image_tag("/images/tour5.png") %>
    <h5><strong>SUMMIT, SAFARI + ZANZIBAR</strong></h5>
    <p>Additional details about this trip, bullets about what's included, etc.</p>
    <p><em>Starting at $6500</em></p>
  </div>
  <div class="flex-item-3col">
    <%= image_tag("/images/tour3.png") %>
    <h5><strong>CHOOSE YOUR OWN ADVENTURE</strong></h5>
    <p>Additional details about this trip, bullets about what's included, etc.</p>
    <ul>

    </ul>
    <p><em>Starting at $5000</em></p>
  </div>
</div>





<div class="yellow">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>BE A DONOR</h2>
        <p>Help us to get kids into red sweaters and off to school. Every dollar makes a difference.
        </p>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose your gift
            <span class="caret"></span>
          </button>
          <div class="btns-wrapper">
            <a href="#" class="btn btn-solid"><span>DONATE</span></a>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
            <li><a href="#">500</a></li>
            <li><a href="#">1000</a></li>
          </ul>
      </div>
    </div>
  </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>
