<!-- Banner -->
<div class="page-banner team">
  <div class="shadow-box">
    <div class="banner-content page-canvas page-title">
      <h2>The Team</h2>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-staff staff">
    <hr class="no-margin-bottom">
    <div class="social-media-icons">
      <h2 class="yellow-text">STAFF</h2>
      <%= image_tag("plus.svg", :class => "arrow-down", :id => "staff-arrow-down")%>
      <%= image_tag("minus.svg", :class => "arrow-down", :id => "staff-arrow-up")%>

    </div>
  </div>

<!-- STAFF MEMBERS -->
    <div class="flex-item-staff" id="staff">
        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/ashley.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ashley Holmer </h5>
              <p><em>
                Founder and Executive Director
              </em></p>
            </div>
            <p id="ashley-details">
              In 2005, Ashley Holmer moved from Portland, Oregon, to Tanzania to work as an English teacher and soccer coach in a Maasai village. Toward the end of her year-long post, the leaders of a nearby village offered 20 acres of donated land on which to build the community’s first secondary school. Ten years later, Ashley has opened two secondary schools in rural areas of the country and serves as an advocate for girl’s education in Tanzania and around the world.<br/><br/>
              <a href="../pages/ourstory">Read more about Ashley's story</a>
            </p>
          </div>
          <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "ashley-arrow-down")%>
          <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "ashley-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/ada.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ada Banasik </h5>
              <p><em>
                Programs Director, Volunteer
              </em></p>
            </div>
            <p id="ada-details">
              As Programs Director, Ada Banasik manages the organization's volunteer and sponsorship programs. She also serves on the Board of Directors. An environmental engineer with over 9 years of experience in stormwater treatment, remedial design, low-impact development, construction management, and field investigations, Banasik oversees the design and implementation of all water and sanitation projects.
            </p>
          </div>
          <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "ada-arrow-down")%>
          <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "ada-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/lindsay.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Lindsay Pour, MSc</h5>
              <p><em>
                Entrepreneurship &amp; Sustainability Coordinator, Volunteer
              </em></p>
            </div>
            <p id="lindsay-details">
              With over six years of experience in program administration and management, Lindsay Pour is responsible for spearheading the creation of developmental models focused on sustainability and entrepreneurial concepts. This includes financial sustainability planning as well as revenue-generating program development.
            </p>
          </div>
          <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "lindsay-arrow-down")%>
          <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "lindsay-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/julia.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Julia Dickey</h5>
              <p><em>
                Creative Director, Volunteer
              </em></p>
            </div>
            <p id="julia-details">
              Julia Dickey joins the staff of Red Sweater Project having worked with some of the most prominent designers and firms in the industry. She handles organizational design related to print and web, including event planning and execution, branding, and promotional materials.
            </p>
          </div>
          <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "julia-arrow-down")%>
          <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "julia-arrow-up")%>
        </div>
        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/kelsey_f.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Kelsey Friedman</h5>
              <p><em>
                Communications and Media Manager
              </em></p>
            </div>
            <p id="kelsey-details">
              Kelsey Friedman joins the Red Sweater Project team having served previously as Communications Director at the Indigenous Education Foundation of Tanzania (IEFT) from 2009-2011. In this role, she grew passionate about education in Tanzania and the importance of telling this story. Since, Ms. Friedman has held the position of both Media Account Manager and Mobile Product Manager at Winning Mark, creating social media strategies contributing toward successful campaigns and managing project launches of major client applications.
              <br/>
              <br/>
              At Journalism Accelerator as Content and Product Manager, Kelsey executed content product strategies and improvements for the startup website. She has most recently served as Senior Project Manager for Squishymedia, managing project executions as well as personnel, training and serving as a mentor for members of her teams.
              <br/>
              <br/>
              Ms. Friedman graduated magna cum laude from the University of Oregon (2007) with a Bachelor of Arts degree in Journalism and a minor in Film Studies.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "kelsey-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "kelsey-arrow-up")%>
        </div>
        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/faye.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Faye Pitcher</h5>
              <p><em>
              Office and Accounts Manager
              </em></p>
            </div>
            <p id="faye-details">
              Faye Pitcher joins the team following her time as a Finance Intern for Cause Premiere based in Senegal as well as multiple positions in accounting and supply analyst positions.
              <br/>
              <br/>
              Faye has served in both public accounting positions as a purchase clerk at Nisbets PLC, as well as both a technician and income assistant for the Cornwall County Council. As Supply Chain and Logistics Coordinator at Motivation Direct, she managed all aspects of product delivery and program development, including forecasting, schedule modeling and demand reports. For Motability Operations, Ms. Pitcher liased with budget holders to manage costs and funding while analyzing internal management information.
              <br/>
              <br/>
              Ms. Pitcher graduated with honors with a Bachelor of Arts in Business Economics from Keele University (2011), received her Master of Science degree in Logistics and Supply Chain Management from Lancaster University (2012), and is a Certified Accounting Technician.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "faye-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "faye-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/tim.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Tim Sexton</h5>
              <p><em>
                IT Director, Volunteer
              </em></p>
            </div>
            <p id="tim-details">
              With over 17 years of experience in various technology roles, Tim Sexton oversees and consults on the technological direction of Red Sweater Project. In addition to this role, he serves Mungere Secondary School as a hands-on health professional to both students and local community members. Sexton currently manages his technology consulting business, Databridge Solutions, which has been operating for the past 10 years.

              Mr. Sexton received his Bachelor of Arts in Applied Physics from Rutgers University (1995) and is currently finishing his clinical work for Medical Assisting in Portland, Oregon.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "tim-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "tim-arrow-up")%>
        </div>
      </div>
  <!-- BOARD OF DIRECTORS -->

    <div class="flex-item-staff">

      <hr class="no-margin-bottom">
      <div class="social-media-icons">
        <h2 class="yellow-text">BOARD OF DIRECTORS</h2>
        <%= image_tag("plus.svg", :class => "arrow-down", :id => "board-arrow-down")%>
        <%= image_tag("minus.svg", :class => "arrow-down", :id => "board-arrow-up")%>
      </div>

      <div class="flex-item-staff" id="board">

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/ada.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ada Banasik </h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="board-ada-details">
              Ada Banasik is an environmental engineer with over 9 years of experience in stormwater treatment, remedial design, low-impact development, construction management, and field investigations.
              <br>
              <br>
              In addition to being a Board Member, Ms. Banasik serves as Red Sweater Project's Programs Director, managing the volunteer and sponsorship programs, and oversees the design and implementation of Mungere's water and sanitation projects. As member of the Portland Professionals Chapter of Engineers Without Borders (EWB), Ms. Banasik was involved in the design and implementation of composting toilets and rainwater harvesting projects in both Ecuador and Tanzania and currently serves as a liason between EWB and Red Sweater Project.

            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "board-ada-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "board-ada-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/ada.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Sarah Ford, MPH </h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="board-sarah-details">
              Sarah Ford is attracted to the hands-on mission of the Red Sweater Project and its powerful fundraising potential to ultimately change and impact the lives of children in Tanzania. She has traveled extensively to developing countries and brings fundraising and programming knowledge to the Board, with over 13 years of experience in fundraising and network consulting at both the national and international level. Sarah's passion for serving the underpriviledged started at a young age and developed through her studies and work experience, her most recent work having been with Operation Smile, Inc. and ALSAC/St. Jude Children's Research Hospital.
              <br>
              <br>
              Ms. Ford is a graduate of Princeton University (2004) where she received the Community Service Scholarship Award, and received her Masters in Public Health from the Johns Hopkins Bloomberg School of Public Health (2009).
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "board-sarah-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "board-sarah-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/alan.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ambassador Alan Holmer, JD </h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="board-alan-details">
              Alan F. Holmer, age 62, has served as a member of the Board since 2011. He has over 40 years experience in government and the private sector and has been involved with building secondary schools in rural Tanzania for over seven years.  Previously, Holmer has served as Co-Chairman of the President’s Advisory Council on HIV/AIDS, as well as President and CEO of the Pharmaceutical Research and Manufacturers of America (PhRMA), where he led efforts to improve protection of intellectual property around the world.
              <br>
              <br>
              Mr. Holmer has served as a director of multiple for-profit and not-for-profit enterprises in the U.S. and overseas, and has deep experience in strategic planning, organizational direction, and risk management.  He currently serves as the Chairman of the Board of the Metropolitan Washington, D.C. Chapter of the Cystic Fibrosis Foundation, and a Director of Breakthrough Partners, which operates in strategic regions of Africa, Asia and Latin America to identify and build indigenous leaders.
              <br>
              <br>
              Mr. Holmer has significant expertise in handling legal, international trade and governmental issues, having held various positions within the office of the U.S. Trade Representative, the Commerce Department and the White House, including serving as Deputy U.S. Trade Representative with rank of Ambassador.  Holmer also served as a partner at the international law firm, Sidley &amp; Austin (now Sidley Austin LLP), as an associate at Steptoe &amp; Johnson LLP, and as Chief of Staff to Senator Bob Packwood.
              <br>
              <br>
              Mr. Holmer earned his Juris Doctor from the Georgetown University Law Center (1978) and graduated cum laude with an AB from Princeton University (1971). He is the recipient of the Alexander Hamilton Award from the US Treasury and the Yetta Rosenburg Humanitarian Award.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "board-alan-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "board-alan-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/erika.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Erika Bryant, MEd</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="board-erika-details">
              Ms. Bryant is the Executive Director of the Elsie Whitlow Stokes Community Freedom Public Charter School in Washington, DC. A former Peace Corps Volunteer in the Republic of Guinea where she served as a volunteer teacher with TEFL certfication, Erika has extensive experience working in international education with a focus in Africa.
             <br>
             <br>
              Ms. Bryant's diverse professional career includes serving as Policy Associate with the National Youth Employment Coalition and Project Associate for the Council of Chief State School Officers in Washington, DC; Program Officer for Africare in Mali; and consultant to International Education and Training in Chad, working with clients such as UNICEF and the International Finance Corporation. Erika also served as Interim School Director at Mungere Secondary School in 2014.
            <br>
            <br>
              Ms. Bryant received her Bachelor of Arts degree in English from Spelman College (1990) and her Masters in Education from Harvard University (1996) with a concentration in International Education.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "board-erika-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "board-erika-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/john_n.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">John Nicholson, MBA</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="board-john_n-details">
              Beginning his career in finance at LaSalle Bank, Mr. Nicholson worked for the Treasury Department supporting cash management services for LaSalle’s clientele.
              <br/>
              <br/>
              Mr. Nicholson is currently the Vice President of Diversified Assets for PVS Chemicals, Inc. Prior to his role at PVS Corporate, he served as President of PVS Transportation and Deputy Managing Director based in Bangkok, Thailand. He also serves on the PVS Board of Directors.
              <br/>
              <br/>
              Mr. Nicholson received his Bachelor of Arts degree from DePaul University (2005) and his MBA with a focus in family business from Kennesaw State University (2012).
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "board-john_n-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "board-john_n-arrow-up")%>
        </div>

      </div>
    </div>

<!-- ADVISORY BOARD -->
    <div class="flex-item-staff">

      <hr class="no-margin-bottom">
      <div class="social-media-icons">
        <h2 class="yellow-text">ADVISORY BOARD</h2>
        <%= image_tag("plus.svg", :class => "arrow-down", :id => "advisory-arrow-down")%>
        <%= image_tag("minus.svg", :class => "arrow-down", :id => "advisory-arrow-up")%>
      </div>

      <div class="flex-item-staff" id="advisory">

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/jenny.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Jenny Barker, MPA</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-jenny-details">
              With years of experience managing programs in education and public health in Tanzania, Jenny Barker brings key skills to the Advisory Board in international development, specifically finance and operations management related to projects targeting girls education, HIV/AIDS and malaria prevention, and water programs throughout Africa.
              <br>
              <br>
              Ms. Barker has held multiple positions at FHI360, first as a Program and Finance Associate for the Ambassador Girls Scholarship Program in Equatorial Guinea, Ethiopia, Rwanda, Somalia, Sudan and Tanzania. As a Program Officer for the Tanzania Marketing and Communications for AIDS (T-MARC) program, she managed and coordinated GIS/GPS monitoring and evaluation efforts to identify and map high-risk locations for HIV transmission and led field pilot visits as well as development of curriculum.
              <br>
              <br>
              Barker also worked with Proctor &amp; Gamble’s Children’s Safe Drinking Water Fund on a PUR clean water program in northern Tanzania.  Currently, Barker serves as Director of the Global FISH Alliance, a USAID-funded program working on sustainable fisheries with the communities who depend on them globally.
              <br>
              <br>
              Ms. Barker received her Masters in Public Administration in International Development Management at George Washington University (2006) and her Bachelor of Arts in Communication Studies from the University of Missouri-Kansas City (1998).

            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-jenny-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-jenny-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/dede.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Dede McClure</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-dede-details">
              With over 25 years of experience in the non-profit sector, Dede McClure joins the Advisory Board having served both large and emerging non-profits in the areas of management, operations and development.
              <br>
              <br>
              Based in Washington, D.C., Ms. McClure currently serves as Director of Operations and Development for the School for Ethics and Global Leadership and as Principal at Thoughtful Operations, her own start-up providing support to local and international non-profit enterprises.
              <br>
              <br>
              Previously, McClure served as Director of Business and Development for the Elsie Whitlow Public Charter School and Executive Director of the Greater Washington Hospitality Foundation, focusing on public relations, grant writing, and staff recruitment.  She also assisted in the founding of Sightline Marketing as the VP of Operations, where she grew the marketing and communications firm revenue and net profit during her 8-year tenure. Ms. McClure has also spent time volunteering in Tanzania with Rift Valley Children's Center in Oldeani.
              <br>
              <br>
              Ms. McClure graduated with her Diplôme d'études de la civilisation française, from the University of Paris in Sorbonne (1977).
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-dede-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-dede-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/christine.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Christine Bwayo-McCulloch, MBA</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-christine-details">
              Born in Nairobi, Kenya, Christine Bwayo grew up as the daughter of a renowned HIV/AIDS vaccine researcher. After receiving her Diploma in Hotel Operations from the Institute of Hotel and Tourism Management in South Africa in 1997, Ms. Bwayo moved to the United States and founded her own business consulting firm, guiding new businesses in the areas of health and hospitality, as well as non-profit management.
              <br>
              <br>
              Currently the office manager of both a family-owned acupuncture clinic in Portland, Oregon, and a hotel in Karen, Kenya, Ms. Bwayo also serves on the Marylhurst University Alumni Board of Directors.
              <br>
              <br>
              Ms. Bwayo-McCulloch earned her Masters in Business Administration from Marylhurst University (2009) and a Bachelor of Arts degree in Business Administration from Southern Oregon University (2003).

            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-christine-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-christine-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/gary.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Gary R. Edson, JD, MBA</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-gary-details">
              Gary Edson joins the Advisory Board as a distinguished former government official and entrepreneur. He currently serves as President of Conservation International following his position as the Global Health Fellow at the George W. Bush Institute, where he focused on the Pink Ribbon Red Ribbon initiative, the leading public-private partnership aimed at reducing deaths from cervical and breast cancer in Africa and Latin America. Previously, he served as CEO of the Clinton Bush Haiti Fund, working to rebuild the country of Haiti following the devastating 2010 earthquake. From 2001-2004, he served as Deputy Assistant to the President for International Economic Affairs and Deputy National Security Advisor. During that time, Edson was also chief negotiator for the presidential summits of G8, APEC, US-EU and the Summits of the Americas.
              <br>
              <br>
              Mr. Edson co-led the development of the $45 billion President’s Emergency Plan for AIDS Relief (PEPFAR), the largest commitment ever by any nation for an international health initiative. He is credited with launching the organization Malaria No More as well as establishing the Millennium Challenge Corporation, an independent foreign aid agency reinforcing good governance, economic freedom and investment in its people.
              <br>
              <br>
              Mr. Edson received his Bachelor of Arts in Anthropology from Stanford University (1977) and his Masters in Business Administration and Juris Doctor from the University of Chicago (1982).
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-gary-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-gary-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/mark.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ambassador Mark Green, JD</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-mark-details">
              Having spent most of his career serving his country and the people of Africa in both the public and private sectors, Ambassador Mark Green brings expertise in the areas of international governance, NGO management and development of education and health initiatives.
              <br>
              <br>
              From 2007 to 2009, Green served as US Ambassador to Tanzania, where he emphasized projects that fostered economic growth, including the signing of the largest compact ever between the United States and any other country for $700 million to increase support the treatment and prevention of HIV/AIDS and malaria.
              <br>
              <br>
              As a former four-term Congressman from the state of Wisconsin, Green was an active member of the House Judiciary Committee and the House International Relations Committee. He also helped craft foreign policy initiatives, including the Millennium Challenge Act, America’s historic commitment to invest in developing nations that are pursuing political and economic reforms. He also participated in the enactment of the Global Access to HIV/AIDS Prevention, Awareness and Treatment Act of 2001 and the US Leadership Against HIV/AIDS, Tuberculosis and Malaria Act.
              <br>
              <br>
              Since leaving public office, Green has served as Director for Malaria No More’s Washington D.C. policy center. From 2011-13, Ambassador Green served as President and CEO of The Initiative for Global Develoment, a non-profit organization that engages corporate leaders to reduce poverty through business growth and investment in Africa. He was then appointed Senior Director for the US Global Leadership Coalition before being named President of the International Republican Institute (IRI). He also sits on the Board of Directors of the Millennium Challenge Corporation.
              <br>
              <br>
              Mr. Green earned his Juris Doctor from University of Wisconsin-Madison (1987) and a BA from the University of Wisconsin-Eau Claire (1983).
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-mark-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-mark-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/haley.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Haley Holmer, MPH</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-haley-details">
              Haley Holmer lends her talents in the healthcare field in areas of program performance and outcome evaluation. She has served as principle investigator for systematic reviews and health technology assessments while working for Oregon Health &amp; Science University's Evidence-Based Practice Center and Spectrum Research, Inc. As a Research Fellow with Grassroot Soccer in Cape Town, South Africa, she supported the Monitoring & Evaluation team of the PEPFAR-funded HIV and life skills education interventions. In Tanzania, Haley served as a Biology, Chemistry and Physics teacher and designed and implemented curriculum at a rural secondary school. She also developed culturally relevant health curricula for secondary school students, including HIV/AIDS, malaria, reproductive health, sanitation, and nutrition education.
              <br>
              <br>
              Ms. Holmer received her Bachelor of Arts degree in Neuroscience from Middlebury College (2002) and her Masters in
              Public Health from Johns Hopkins University Bloomberg School of Public Health (2009), focusing on Epidemiology and International Health. She also studied Biology and Health Psychology at the University of Cape Town (South Africa) and is currently a PhD candidate in Epidemiology at Oregon Health &amp; Science University.
             </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-haley-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-haley-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/michele.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Michele Houck</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-michele-details">
              Michele Houck is a seasoned corporate manager with 20 years in advertising and marketing agency roles. As Director of Engagement Services, Client Operations and Client Services, Michele has worked with companies such as Web, MD, R2C Group, and CIBT, managing brands such as Boeing, Vonage, AOL, P&amp;G, Philips Medical, Home Depot and Wells Fargo.
              <br>
              <br>
              Ms. Houck’s experience in marketing ranges from strategic planning, media, competitive research, production, creative development, fulfillment, ROI analysis and consumer consideration. Currently, Ms. Houck serves as Group Account Director at CMD Agency managing the agency's largest client, Intel.
              <br>
              <br>
              Ms. Houck received her Bachelor of Arts degree from State University of New York, Buffalo (1994).
             </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-michele-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-michele-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/tony.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Tony Machacha, MSc, MBA</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-tony-details">
              Born and raised in western Kenya on the foothills of Mt. Elgon, Tony Machacha grew up in the 1970s and '80s farming his family’s ancestral land. Since then, he has spent most of his career working to increase the visibility and success of small-scale agricultural initiatives around the world.
              <br>
              <br>
              In 2005, Machacha joined Heifer International’s National Immigrant Farming Initiative (NIFI) as a Program Associate, coordinating technical assistance to immigrant farming projects. He has also served as a Research Assistance for the Sustainable Rural Livelihoods Program to improve food security in eastern Uganda, focused his thesis on Farmer Field Schools in western Kenya, tutored immigrant workers in Ames, Iowa, and volunteered as a staff member and on the management board for Worldly Goods, a non-profit Fair Trade enterprise.
              <br>
              <br>
              In 2010, Mr. Machacha joined the Bill and Melinda Gates Foundation supporting the Agricultural Development Program in the Global Development division. As a Financial Associate, he is responsible for the forecasting of grant and contract spending, tracking division projects, as well as advising staff on a wide range of financial and operational issues.
              <br>
              <br>
              Mr. Machacha obtained his Bachelors of Science in Agricultural Engineering from Jomo Kenyatta University (2001), his Masters of Science in Sociology &amp; Sustainable Agriculture from Iowa State University (2004) and his Masters in
              Business Administration from Oregon State University (2010).

             </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-tony-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-tony-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/kimberly.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Kimberly Reardon</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-kimberly-details">
              As a skilled project manager, Kimberly Reardon brings 15 years of experience to the Advisory Board in the areas of training, personnel and business consulting. Most recently, Ms. Reardon served as a Senior Program Management Analyst for Ford Motor Company, where she guided forecasted projects related to Vehicle Program Plans and Quality Operating Systems from functional integrated work plans through implementation.
              <br>
              <br>
              As a Senior Program Manager for Daimler Chrysler/Dodge’s Commercial Marketing Programs, Reardon refined new business implementation and support and, as a Project Supervisor, managed the training of over 170 employees. She also worked as a Program Analyst for General Motors supporting the implementation and execution of corporate policies.
              <br>
              <br>
              Ms. Reardon earned her Bachelors of Business Administration with a focus in International Business from Western Michigan University (1991).

            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-kimberly-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-kimberly-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/frank.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Frank So</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-frank-details">
              Frank So joins the Advisory Board with experience involving multiple international development projects in Latin America, the Caribbean and Africa, currently serving as an advisor to the United States Agency for International Aid (USAID).
              <br>
              <br>
              Prior to his work with the US State Department, So worked with the US Agency for International Development (USAID) covering post-earthquake reconstruction efforts in Haiti. His work in humanitarian assistance also includes over four years in Sudan with the International Organization for Migration in Darfur and the United Nations in South Sudan. His private sector experience includes three years at Costco Wholesale. So also serves on the Advisory Board of VIDES USA, a non-governmental organization based in San Antonio, Texas.
              <br>
              <br>
              Mr. So graduated cum laude with a Bachelor of Arts in International Relations from Seattle University (2000) and received his Masters of Arts in Peace Studies and Conflict Resolution from the University of Ulster in North Ireland (2006). He also studied at the Geneva School of Diplomacy School of International Service.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-frank-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-frank-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/james.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Ambassador James A. Stewart</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-james-details">
              With over 25 years of experience with the US State Department serving as Ambassador, Counselor, and Envoy, James Stewart has a distinguished diplomatic career promoting overarching US economic priorities and political policies on an international scale.
              <br>
              <br>
              Starting in 1989, Stewart worked in Italy in the Consular's Office and as Chief Economic Officer; Chief Economical and Political Officer in Gaborone, Botswana and Niamey, Niger; and Political-Economic Counselor in Ajidjan, Ivory Coast. From 2004-2006, he served as Deputy Chief of Mission in Freetown, Sierra Leone, where he researched and drafted analyses regarding local and international efforts to rebuild the war-torn country and to develop key economic sectors and infrastructure.
              <br>
              <br>
              From 2006-2010, Stewart served as US Permanent Representative/Ambassador to the UN Program Global Headquarters Environmental Program (UNEP) in Nairobi, Kenya. There, he researched hard-fought negotiated positions on resolutions
              among 58 member states which define UNEP's global work on climate change, dangerous chemicals, developing country
              capacity building, sustainable water use policy, and gobal environmental monitoring and reporting. Stewart has also
              worked as a researcher and writer for the State of Oregon and for Pacific Power	&amp; Light, based in Portland.
              <br>
              <br>
              Mr. Stewart graduated summa cum laude with a Masters in Economics from The Pennsylvania State University (1980).
              In 2010, he received the US State Department's Career Service Award from Secretary of State, Hillary Rodham Clinton.
            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-james-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-james-arrow-up")%>
        </div>

        <hr class="no-margin-bottom">
        <div class="social-media-icons">
          <%= image_tag("staff/vanessa.jpg", :class => "staff-photo")%>
          <div class="title">
            <div class="name">
              <h5 class="no-top-pad">Vanessa Tharp, MAT</h5>
              <p><em>
                Qualifying Skills/Expertise
              </em></p>
            </div>
            <p id="advisory-vanessa-details">
              Vanessa Tharp joins the Advisory Board with a specialization in the areas of education, English as a Second Language (ESL), and leadership. Currently a high school teacher in Oregon, Ms. Tharp is involved in student leadership, mentoring programs, diversity training, and teaching conference and workshop facilitation. She is also an adjunct professor for Concordia University's MAT and MEd programs.
              <br>
              <br>
              Tharp has a wide range of experience as a volunteer for various organizations including the Oregon Association of Student Councils, Children's Cancer Association, and Doernbecher Children's Hospital. She also serves on the Board of Directors of the Oregon Public House and brings expertise in the areas of event planning, fundraising, and community building.
              <br>
              <br>
              Ms. Tharp obtained her Bachelor's in Geography from the University of Oregon (2004) and Masters of Arts in Teaching from Lewis &amp; Clark College (2005).

            </p>
          </div>
            <%= image_tag("arrow-down.svg", :class => "arrow-down", :id => "advisory-vanessa-arrow-down")%>
            <%= image_tag("arrow-up.svg", :class => "arrow-down", :id => "advisory-vanessa-arrow-up")%>
        </div>



      </div>
      <hr>

    </div>
  <!-- </div> -->
</div>



<div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>WHY EAST AFRICA?</h2>
        <p class="lead">
          It’s a long way from Portland to Tanzania. Read how our founder, Ashley Holmer, first saw the potential in a red sweater and explore our timeline to see how far we’ve come since 2005.
        </p>
        <div class="btns-wrapper">
          <a href="/pages/ourstory" class="btn btn-solid">SEE HOW IT ALL BEGAN</a>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourstory_CTA">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourstory_CTA">
  </div>
</div>

<script>
$(document).ready(function() {

  $('#ashley-arrow-down').click(function(event) {
    event.preventDefault();
    $('#ashley-details').toggle(700);
    $('#ashley-arrow-down').hide();
    $('#ashley-arrow-up').show();
  });
  $('#ashley-arrow-up').click(function(event) {
    event.preventDefault();
    $('#ashley-details').toggle(700);
    $('#ashley-arrow-down').show();
    $('#ashley-arrow-up').hide();
  });

  $('#ada-arrow-down').click(function(event) {
    event.preventDefault();
    $('#ada-details').toggle(700);
    $('#ada-arrow-down').hide();
    $('#ada-arrow-up').show();
  });
  $('#ada-arrow-up').click(function(event) {
    event.preventDefault();
    $('#ada-details').toggle(700);
    $('#ada-arrow-down').show();
    $('#ada-arrow-up').hide();
  });
  $('#lindsay-arrow-down').click(function(event) {
    event.preventDefault();
    $('#lindsay-details').toggle(700);
    $('#lindsay-arrow-down').hide();
    $('#lindsay-arrow-up').show();
  });
  $('#lindsay-arrow-up').click(function(event) {
    event.preventDefault();
    $('#lindsay-details').toggle(700);
    $('#lindsay-arrow-down').show();
    $('#lindsay-arrow-up').hide();
  });

  $('#julia-arrow-down').click(function(event) {
    event.preventDefault();
    $('#julia-details').toggle(700);
    $('#julia-arrow-down').hide();
    $('#julia-arrow-up').show();
  });
  $('#julia-arrow-up').click(function(event) {
    event.preventDefault();
    $('#julia-details').toggle(700);
    $('#julia-arrow-down').show();
    $('#julia-arrow-up').hide();
  });
  $('#kelsey-arrow-down').click(function(event) {
    event.preventDefault();
    $('#kelsey-details').toggle(700);
    $('#kelsey-arrow-down').hide();
    $('#kelsey-arrow-up').show();
  });
  $('#kelsey-arrow-up').click(function(event) {
    event.preventDefault();
    $('#kelsey-details').toggle(700);
    $('#kelsey-arrow-down').show();
    $('#kelsey-arrow-up').hide();
  });
  $('#faye-arrow-down').click(function(event) {
    event.preventDefault();
    $('#faye-details').toggle(700);
    $('#faye-arrow-down').hide();
    $('#faye-arrow-up').show();
  });
  $('#faye-arrow-up').click(function(event) {
    event.preventDefault();
    $('#faye-details').toggle(700);
    $('#faye-arrow-down').show();
    $('#faye-arrow-up').hide();
  });

  $('#tim-arrow-down').click(function(event) {
    event.preventDefault();
    $('#tim-details').toggle(700);
    $('#tim-arrow-down').hide();
    $('#tim-arrow-up').show();
  });
  $('#tim-arrow-up').click(function(event) {
    event.preventDefault();
    $('#tim-details').toggle(700);
    $('#tim-arrow-down').show();
    $('#tim-arrow-up').hide();
  });

  $('#staff-arrow-down').click(function(event) {
    event.preventDefault();
    $('#staff').toggle(700);
    $('#staff-arrow-down').hide();
    $('#staff-arrow-up').show();
  });
  $('#staff-arrow-up').click(function(event) {
    event.preventDefault();
    $('#staff').toggle(700);
    $('#staff-arrow-down').show();
    $('#staff-arrow-up').hide();
  });

  // BOARD MEMBERS

  $('#board-arrow-down').click(function(event) {
    event.preventDefault();
    $('#board').toggle(700);
    $('#board-arrow-down').hide();
    $('#board-arrow-up').show();
  });
  $('#board-arrow-up').click(function(event) {
    event.preventDefault();
    $('#board').toggle(700);
    $('#board-arrow-down').show();
    $('#board-arrow-up').hide();
  });

  $('#board-ada-arrow-down').click(function(event) {
    event.preventDefault();
    $('#board-ada-details').toggle(700);
    $('#board-ada-arrow-down').hide();
    $('#board-ada-arrow-up').show();
  });
  $('#board-ada-arrow-up').click(function(event) {
    event.preventDefault();
    $('#board-ada-details').toggle(700);
    $('#board-ada-arrow-down').show();
    $('#board-ada-arrow-up').hide();
  });

  $('#board-sarah-arrow-down').click(function(event) {
    event.preventDefault();
    $('#board-sarah-details').toggle(700);
    $('#board-sarah-arrow-down').hide();
    $('#board-sarah-arrow-up').show();
  });
  $('#board-sarah-arrow-up').click(function(event) {
    event.preventDefault();
    $('#board-sarah-details').toggle(700);
    $('#board-sarah-arrow-down').show();
    $('#board-sarah-arrow-up').hide();
  });

  $('#board-alan-arrow-down').click(function(event) {
    event.preventDefault();
    $('#board-alan-details').toggle(700);
    $('#board-alan-arrow-down').hide();
    $('#board-alan-arrow-up').show();
  });
  $('#board-alan-arrow-up').click(function(event) {
    event.preventDefault();
    $('#board-alan-details').toggle(700);
    $('#board-alan-arrow-down').show();
    $('#board-alan-arrow-up').hide();
  });

  $('#board-erika-arrow-down').click(function(event) {
    event.preventDefault();
    $('#board-erika-details').toggle(700);
    $('#board-erika-arrow-down').hide();
    $('#board-erika-arrow-up').show();
  });
  $('#board-erika-arrow-up').click(function(event) {
    event.preventDefault();
    $('#board-erika-details').toggle(700);
    $('#board-erika-arrow-down').show();
    $('#board-erika-arrow-up').hide();
  });
  $('#board-john_n-arrow-down').click(function(event) {
    event.preventDefault();
    $('#board-john_n-details').toggle(700);
    $('#board-john_n-arrow-down').hide();
    $('#board-john_n-arrow-up').show();
  });
  $('#board-john_n-arrow-up').click(function(event) {
    event.preventDefault();
    $('#board-john_n-details').toggle(700);
    $('#board-john_n-arrow-down').show();
    $('#board-john_n-arrow-up').hide();
  });

  $('#advisory-jenny-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-jenny-details').toggle(700);
    $('#advisory-jenny-arrow-down').hide();
    $('#advisory-jenny-arrow-up').show();
  });
  $('#advisory-jenny-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-jenny-details').toggle(700);
    $('#advisory-jenny-arrow-down').show();
    $('#advisory-jenny-arrow-up').hide();
  });

  $('#advisory-dede-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-dede-details').toggle(700);
    $('#advisory-dede-arrow-down').hide();
    $('#advisory-dede-arrow-up').show();
  });
  $('#advisory-dede-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-dede-details').toggle(700);
    $('#advisory-dede-arrow-down').show();
    $('#advisory-dede-arrow-up').hide();
  });

  $('#advisory-christine-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-christine-details').toggle(700);
    $('#advisory-christine-arrow-down').hide();
    $('#advisory-christine-arrow-up').show();
  });
  $('#advisory-christine-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-christine-details').toggle(700);
    $('#advisory-christine-arrow-down').show();
    $('#advisory-christine-arrow-up').hide();
  });

  $('#advisory-gary-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-gary-details').toggle(700);
    $('#advisory-gary-arrow-down').hide();
    $('#advisory-gary-arrow-up').show();
  });
  $('#advisory-gary-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-gary-details').toggle(700);
    $('#advisory-gary-arrow-down').show();
    $('#advisory-gary-arrow-up').hide();
  });

  $('#advisory-mark-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-mark-details').toggle(700);
    $('#advisory-mark-arrow-down').hide();
    $('#advisory-mark-arrow-up').show();
  });
  $('#advisory-mark-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-mark-details').toggle(700);
    $('#advisory-mark-arrow-down').show();
    $('#advisory-mark-arrow-up').hide();
  });

  $('#advisory-haley-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-haley-details').toggle(700);
    $('#advisory-haley-arrow-down').hide();
    $('#advisory-haley-arrow-up').show();
  });
  $('#advisory-haley-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-haley-details').toggle(700);
    $('#advisory-haley-arrow-down').show();
    $('#advisory-haley-arrow-up').hide();
  });

  $('#advisory-michele-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-michele-details').toggle(700);
    $('#advisory-michele-arrow-down').hide();
    $('#advisory-michele-arrow-up').show();
  });
  $('#advisory-michele-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-michele-details').toggle(700);
    $('#advisory-michele-arrow-down').show();
    $('#advisory-michele-arrow-up').hide();
  });

  $('#advisory-tony-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-tony-details').toggle(700);
    $('#advisory-tony-arrow-down').hide();
    $('#advisory-tony-arrow-up').show();
  });
  $('#advisory-tony-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-tony-details').toggle(700);
    $('#advisory-tony-arrow-down').show();
    $('#advisory-tony-arrow-up').hide();
  });

  $('#advisory-kimberly-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-kimberly-details').toggle(700);
    $('#advisory-kimberly-arrow-down').hide();
    $('#advisory-kimberly-arrow-up').show();
  });
  $('#advisory-kimberly-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-kimberly-details').toggle(700);
    $('#advisory-kimberly-arrow-down').show();
    $('#advisory-kimberly-arrow-up').hide();
  });

  $('#advisory-frank-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-frank-details').toggle(700);
    $('#advisory-frank-arrow-down').hide();
    $('#advisory-frank-arrow-up').show();
  });
  $('#advisory-frank-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-frank-details').toggle(700);
    $('#advisory-frank-arrow-down').show();
    $('#advisory-frank-arrow-up').hide();
  });

  $('#advisory-james-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-james-details').toggle(700);
    $('#advisory-james-arrow-down').hide();
    $('#advisory-james-arrow-up').show();
  });
  $('#advisory-james-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-james-details').toggle(700);
    $('#advisory-james-arrow-down').show();
    $('#advisory-james-arrow-up').hide();
  });

  $('#advisory-vanessa-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory-vanessa-details').toggle(700);
    $('#advisory-vanessa-arrow-down').hide();
    $('#advisory-vanessa-arrow-up').show();
  });
  $('#advisory-vanessa-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory-vanessa-details').toggle(700);
    $('#advisory-vanessa-arrow-down').show();
    $('#advisory-vanessa-arrow-up').hide();
  });

  $('#advisory-arrow-down').click(function(event) {
    event.preventDefault();
    $('#advisory').toggle(700);
    $('#advisory-arrow-down').hide();
    $('#advisory-arrow-up').show();
  });
  $('#advisory-arrow-up').click(function(event) {
    event.preventDefault();
    $('#advisory').toggle(700);
    $('#advisory-arrow-down').show();
    $('#advisory-arrow-up').hide();
  });

});
</script>
