<div class="page-banner ourfocus">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2>THE SCHOOL</h2>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-2col">
    <p>The Mungere School is the first middle and high school available to kids in the rural community of Mungere, Tanzania. Every year more than 200 families apply for one of the 30-40 available spots in the incoming class.
    </p>

    <p>When completed, The Mungere Campus will serve over 240 students each year, with students in grades 6-12.
    </p>
    <h5><strong>THE AVERAGE SCHOOL LACKS THE INFRASTRUCTURE TO EFFECTIVELY EDUCATE STUDENTS</strong></h5>
    <p>In Tanzania, secondary schools have incredibly high student to teacher ratios (do we know a formal ratio?), teachers must utilize outdated books and learning materials, and facilities are limited. All formal tests in Tanzania are given in English, but many private secondary schools teach in Swahili, due to teacher shortages.</p>


    <h5><strong>STILL THE AVERAGE FAMILY CAN'T AFFORD TO SEND THEIR KIDS TO SCHOOL</strong></h5>
    <p>
      While elementary school in Tanzania is free, middle and high school costs about $500 USD/year, making it unattainable when the average family only makes $530/year.
    </p>
    <p>
      Even when families make great sacrifices to send a child to school, there is no guarantee of the quality of education. For students living in rural areas, going to school can also mean traveling great distances daily, which is both dangerous and exhausting.
    </p>
  </div>
  <div class="flex-item-2col">
    <h5><strong>THE MUNGERE SCHOOL IS AFFORDABLE AND ACCESSIBLE</strong></h5>
    <p>Families pay $15/year in tuition. While their financial contribution doesn't cover all expenses, tuition pays for operating costs at the school and solidifies each family's commitment to their child's education. The school is centrally located within the village, protecting students from the vulnerability of travel, and giving them more time to study.</p>

    <h5><strong>SOMETIMES IT REALLY DOES TAKE A VILLAGE</strong></h5>
    <p>The Parent Action commity as well as the local tribal government are activley involved with the school. Meetings are held regularly to share ideas and problem solve as a community.</p>
  </div>
</div>

<!-- <script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '<%=ENV['INSTAGRAM_USER_ID']%>',
        accessToken: '<%=ENV['INSTAGRAM_ACCESS_TOKEN']%>',
        filter: function(image) {
            return image.tags.indexOf('HAPPINESS') >= 0;
        }
    });
    feed.run();
</script> -->

<div class="blue">
  <div class="flex page-canvas">
    <div class="flex-item-1col">
      <h2>PREPARED FOR SUCCESS</h2>
      <h5><strong>PREPARATION IS THE KEY TO SUCCESS. OUR STUDENTS WORK HARD FOR …</strong></h5>
      <ul><strong>A COMPETITIVE, HIGH QUALITY EDUCATION</strong>
        <li>• Our teachers hold advanced degrees, and lend local and cultural perspectives.
        </li>
        <li>Volunteer teachers have come from from China, Ireland, the United States, Mexico and Australia to donate their time and talents, and bringing a global perspective into the classroom. All teachers have completed their ESL, CELTA and TESOL trainings </li>
        <li>• Mungere students consistently score in the top quarter of schools in the region and in the top 2 in the district (out of 23 schools) in government-issued tests.</li>
        <li>• The Tanzania Ministry of Education has recognized Red Sweater Project as a successful school model that gets positive results.
        </li>

        <h5><strong>AN ATMOSPHERE THAT PROMOTES GENDER EQUALITY</strong></h5>
        <li>• Boys and girls learn together both in the classrooms and on our athletic fields. This approach builds the confidence of female students and teaches all  students that everyone has strengths that are not defined or limited by gender. </li>
      </ul>

      <h5><strong>SUSTAINABLY DESIGNED, MODERN FACILITIES</strong></h5>
      <ul>
        <li>• Solar power throughout campus has been made possible by the volunteer efforts of Engineers without Borders</li>
        <li>• By giving students their own solar-powered for late night studying, families save time, money and resources. It is also a healthier alternative to the traditionally-used kerosene lantern.</li>
        <li>• Our buildings are designed to keep students and faculty cool in the heat and warm when it's cold without the use of consumable fuels.</li>
      </ul>

      <h5><strong>HEALTH CARE AND HEALTH EDUCATION, AS WELL AS SANITATION SERVICES</strong></h5>
      <ul>
        <li>• Safe drinking water is available to all students</li>
        <li>• Health outreach helps to boost health and prevent disease within the community</li>
        <li>• If a student becomes ill, they're treated. Illnesses commonly treated include: malaria, typhoid and pneumonia</li>
        <li>• Fresh, nutritious food from our organic school garden and dining facilities, which serves two meals each school day. Gas burners eliminate the school's need for firewood, which would contribute to deforestation.</li>
        <li>Future plans include construction of a dining facility, which will also serve as a school assembly area.</li>
        <li>• Campus is equipped with composting toilets and handwashing stations with waste safely recycled to replenish nutrients in the school's garden soil.</li>
      </ul>
    </div>
  </div>
</div>


  <div class="page-canvas">
    <div class="flex">
      <div class="flex-item-1col intro">
        <h2>HANDS-ON LEARNING</h2>
        <p class="description">
          In addition to their studies in the classroom, students at the Mungere School have the opportunity to participate in our hands-on programs.
        </p>
      </div>
  </div>
  <div class="flex">
    <div class="flex-item-3col space-second">
      <div class="img-wrapper">
        <%= image_tag("home_OurFocus_education.png", :class => "img-responsive")%>
      </div>
      <div class="focusCopy">
        <h5><strong>SMALL BUSINESS SKILLS</strong></h5>
        <p><em>The School Store</em></p>
        <ul>
          <li>• Provides a valued resource for the entire community, where local families can purchase goods and sundries at reasonable prices. The next closest market is a 3km walk, and is only open on select days and has a limited selection</li>
          <li>• Operates the first ever solar-powered mobile phone and lantern charging station for community members, keeping families connected. The replacement of kerosene
          • Gives students the
          opportunity to apply business, economics and math curriculum
          and economics coursework to real life scenarios</li>
          <li>• Gives students the opportunity to apply math and economics coursework to real life scenarios</li>
          <li>• All income is reinvested in The Mungere School to off-set operational costs</li>
        </ul>
      </div>
    </div>
    <div class="flex-item-3col space-second">
      <div class="img-wrapper">
        <%= image_tag("home_OurFocus_education.png", :class => "img-responsive")%>
      </div>
      <div class="focusCopy">
        <h5><strong>NUTRITION AND AGRICULTURE</strong></h5>
        <p><em>The Mungere School Garden:</em></p>
        <ul>
          <li>• Produces organic food for school meals, reducing operational costs and increasing campus sustainability</li>
          <li>• Provides hands-on experience for agriculture class coursework. Many of our students come from pastoral tribes, and the knowledge they gain from hands-on work in the garden is directly applied to their own family's subsistence farming practices</li>
          <li>• Creates income. Produce is sold at the school store to fund ongoing operations, while providing affordable, nutritious food to the local community. </li>
        </ul>
      </div>
    </div>
    <div class="flex-item-3col space-second">
      <div class="img-wrapper">
        <%= image_tag("home_OurFocus_education.png", :class => "img-responsive")%>
      </div>
      <div class="focusCopy">
        <h5><strong>LEADERSHIP AND TEAMWORK</strong></h5>
        <p><em>The Mungere Athletics Program</em></p>
        <p>
          Sometimes lessons in teamwork, dedication and respect are taught best on the football pitch or basketball court. That's why time for athletics is built into each school week and encouraged outside of class.
        </p>
        <p>
          Promotes gender equality on campus. Ninth grade student Tasiana Kabuka is a prime example. She is the first girl in the region to play on an all-boys soccer team, and has been recognized by her fellow classmates as well as by FIFA for her skills and leadership on the soccer pitch.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="blue">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <h2>ABOUT TANZANIA, EAST AFRICA</h2>
      <p>
        Tanzania is an East African country known for its beautiful wilderness areas. They include the Serengeti National Park, a safari mecca populated by the “big five” game (elephant, lion, leopard, buffalo, rhino), and Kilimanjaro National Park, home to Africa’s highest mountain. Offshore lie the lush tropical islands of Zanzibar and Mafia Marine Park.
      </p>
      <p>
        The Mungere School is located just an hour and a half from Kilimanjaro airport, next to the great rift wall. Swahili is the national language of Tanzania, but by the time students graduate from Mungere, they are trilingual, speaking English, Swahili and their native tribal tongue such as Kimasai, Kirangi or Kichagga.
      </p>

      <p><em>
        <a href="#">Download our Africa factsheet</a>
      </em></p>
      <p>
        <em><a href="#">See some beautiful photos by National Geographic</a>
      </em></p>
    </div>
    <div class="page-canvas" id="map-container">
      <div class="flex-item-2col" id="map">
      </div>
    </div>
  </div>


</div>

<div class="yellow">
  <div class="flex page-canvas">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>OUR FOCUS</h2>
        <p>Quality education, gender equality and responsible innovation. Learn how our focus is making an impact in Mungere Village.</p>
        <div class="btns-wrapper">
          <a href="/pages/ourfocus" class="btn btn-secondary"><span>LEARN ABOUT OUR FOCUS</span></a>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {disableDefaultUI: true}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": -3.35,
      "lng": 35.85,
      // "picture": {
      //   "url": "/images/RSPlogo_175x59.png",
      //   "width":  32,
      //   "height": 32
      // },
      "infowindow": "Mungere School"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(6);
});
</script>
