<!-- Banner -->
<div class="page-banner home">
  <div class="shadow-box">
    <div class="banner-content page-canvas">
      <STRONG><h5>BECAUSE OF RED SWEATER PROJECT:</h5></STRONG>
      <h2>By 2020, the high school graduation rate in Mungere, Tanzania will be up by <span style="color:#fdbe16;">200%</span></h2>
    </div>
  </div>
</div>

<!-- Intro -->
<div class="flex page-canvas">
	<div class="flex-item-1col">
	  <h2>HELPING KIDS GO TO SCHOOL</h2>
		<p class="first">Red Sweater Project creates high quality middle and high schools for kids in rural East Africa. Superman has his cape, and Zoro has his mask. For these kids, a school uniform is transformational. Putting on a red sweater means having the opportunity to learn, and to better their community.</p>
		<div class="btns-wrapper">
			<a href="/pages/theschool" class="btn btn-big btn-solid"><span>Check out the school</span></a>
		</div>
  </div>
 </div>

    <!-- Focus-->
    	<div class="flex blue three">
    		<div class="flex-item-intro">
    				<h2>A CLEAR FOCUS</h2>
    				<p class="description">An education from a Red Sweater Project school is unique in 3 distinct ways:</p>
          </div>
        </div>
        <div class="flex blue">
      		<div class="flex-item-3col">
						<div class="img-wrapper">
							<%= image_tag("home_OurFocus_education.png", :class => "img-responsive")%>
						</div>
						<div class="focusCopy">
							<h5><strong>1. QUALITY EDUCATION</strong></h5>
							<p>makes a big difference. It’s not enough to build buildings. Our certified teaching staff brings the classroom to life.</p>
						</div>
            <div class="btns-wrapper">
  						<a href="#" class="btn btn-big btn-secondary"><span>Learn more about our focus</span></a>
  					</div>
					</div>
          <div class="flex-item-3col">
  				  <div class="img-wrapper">
    					<%=image_tag("home_OurFocus_equality.png", :class => "img-responsive")%>
  			    </div>
    				<div class="focusCopy">
    					<h5><strong>2. GENDER EQUALITY</strong></h5>
    					<p>isn’t learned in a book. It’s cultivated and experienced first-hand.</p>
    				</div>
          </div>

          <div class="flex-item-3col">
						<div class="img-wrapper">
							<%= image_tag("home_OurFocus_innovation.png", :class => "img-responsive")%>
						</div>
						<div class="focusCopy">
							<h5><strong>3. RESPONSIBLE INNOVATION</strong></h5>
							<p>means making sure our impact in the local and global community is a positive one.</p>
						</div>
    			</div>
				</div>

<!-- Slider section -->
<!-- <div class="slider-wrapper">
	<div class="container-fluid">
			<div class="section-name students">
				<h2>Our students are changemakers</h2>
				<p>Secondary school training for girls in the developing world has a higher return on investment than any other effort.* We’re seeing incredible impact educating girls and boys at the Mungere School:</p>
		        <div id="owl-hero" class="owl-carousel owl-theme">
            <div class="item" style="background-image: url(assets/sliders/Slide.jpg)">
                <div class="caption">
                    <h6>test</h6>
                    <h1>slider</h1>
                </div>
            </div>
            <div class="item" style="background-image: url(assets/sliders/Slide2.jpg)">
                <div class="caption">
                    <h6>test</h6>
                    <h1>slider</h1>
                </div>
            </div>
            <div class="item" style="background-image: url(assets/sliders/Slide3.jpg)">
                <div class="caption">
                    <h6>test</h6>
                    <h1>slider</h1>
                </div>
            </div>
        </div>
		</div>
		</div> -->


  	<!-- Subscribe section -->
    <div class="flex">
      <div class="flex-item-2col yellow-bottom-left">
        <div class="twocol-left-text">
					<h2>DON'T MISS A THING</h2>
					<p>Subscribe to our monthly newsletter to get valuable updates about the school.</p>
          <%= form_for @subscriber, remote: true do |f| %>
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.submit 'Subscribe', class: 'btn btn-min btn-solid' %>
          <% end %>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
    	</div>
      <div class="flex-item-2col ourfocus_donate">
  	  </div>
