<div class="flex page-canvas items-wrap">
  <% @posts.each do |post| %>
    <div class="flex-item-3col space-around">
      <%= image_tag("#{post.image}")%>

      <div>
        <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
        <h2><%= post.title %></h2>
        <p><em><%= post.author %></em></p><br>
        <p><%= post.quote %></p>
      </div>
      <div><br>
        <%= link_to "READ MORE", post_path(post) %>
      </div>
    </div>
  <% end %>
</div>

<div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>OUR FOCUS</h2>
        <p>Quality education, gender equality and responsible innovation. Learn how our focus is making an impact in Mungere Village.</p>
        <div class="btns-wrapper">
          <a href="/pages/ourfocus" class="btn btn-solid"><span>LEARN ABOUT OUR FOCUS</span></a>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col ourfocus_donate">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col ourfocus_donate">
  </div>
</div>
