<div class="flex page-canvas">
  <div class="flex-item-1col row">
    <div class="col-sm-8 offset-sm-2">
      <p>&#8592;<%= link_to 'Browse Blog', posts_path %></p><br/>
      <%= image_tag(@post.image, :class => "flex-item-image")  %>
      <br/>
      <br/>
    </div>
    <div class="col-sm-8 offset-sm-2">
      <p><strong><%= @post.created_at.strftime('%b %d, %Y') %></strong> 	&nbsp;| 	&nbsp;<%= @post.author %></p>
      <h2 class="my-4"><%= @post.title %></h2>
      <div class="post-content"><%= raw @post.body %></div>
    </div>

  </div>
</div>

<div class="yellow">
  <div class="flex page-canvas nowrap">
    <div class="flex-item-2col">
      <div class="twocol-left-text">
        <h2>BECOME A SPONSOR</h2>
        <p class="lead">
          Create a unique relationship while changing a child's life.
        </p>
        <div class="btns-wrapper">
          <%= link_to 'LEARN ABOUT SPONSORSHIPS', students_path, :class => "btn btn-solid mt-4" %>
        </div>
      </div>
    </div>
    <div class="shadow nonmobile">
      <div class="flex-item-2col sponsor-a-student">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="shadow mobile">
  <div class="flex-item-2col sponsor-a-student">
  </div>
</div>
