<!-- Banner -->
<div class="page-banner donate">
  <div class="shadow-box">
    <div class="banner-content page-canvas title-only">
      <h2><span style="color:#fdbe16;">Donate</span></h2>
      <p class="white-text"></p>
    </div>
  </div>
</div>

<div class="flex page-canvas">
  <div class="flex-item-2col donate-left">
    <p>
      Your tax-deductible gift will support the incredible students at the Mungere School, helping them to complete their high school education as well as providing hands-on classes in organic agriculture and business.
      <br>
      <br>
    <strong>TO DONATE BY CHECK</strong><br>
      Fill out our donation form, and sending it along with your gift to:<br>
      <em>Red Sweater Project <br>
      1000 SW Forest Meadows Way <br>
      Lake Oswego, OR 97034 <br></em>
      <br>
    <strong>TO CHANGE AN EXISTING DONATION</strong><br>
      Send a change request form to <a href="mailto:donate@redsweaterprojec.org">donate@redsweaterproject.org</a>. Or mail the printed form to the address above. <br><br>
      <a href="">Download change request form PDF (1MB )</a>
    </p>
    <div class="donation-details">
      <h2>DONATION DETAILS</h2><br>
      <form class="donate-left" action="" method="">
        <label for="donation-type">Donation type</label><br>
        <input type="radio" name="donation-type" value="one-time">One-time</input><br>
        <input type="radio" name="donation-type" value="monthly">Monthly</input><br>
        <input type="radio" name="donation-type" value="annual">Annual</input><br>
      </form>
      <%= form_tag charges_path, class:"donate-left" do %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
            <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <article>
          <%= label_tag(:amount, 'Donation Amount:') %>
          <%= text_field_tag(:amount, "", class:"form-control") %>
        </article>
        <article>
          <%= hidden_field_tag(:stripeToken) %>
        </article>
        <button id='donateButton' class="btn btn-solid">Donate</button>
      <% end %>
    </div>
  </div>

  <div class="donate-right">
    <div class="blue-donate">
    <h5>EVERY GIFT MAKES A DIFFERENCE</h5>
    <p class="white-text">
      Using solar power and creating our own compost at the school are just a few of the ways we work to keep our overhead low so every dollar can have the greatest impact in the lives of our students.
    </p>
    <hr class="hairline-grey">
  </div>
  <div class="lt-blue-donate">
    <h5>HOW MUCH OF A DIFFERENCE CAN YOU MAKE?</h5>
    <br>
    <h5>$25</h5>
    <ul>
      <li>• Feeds a student for a month</li>
      <li>• Cures 5 cases of malaria, keeping kids out of hospitals and in the classroom</li>
      <li>• Stocks our library with 6 new textbooks</li>
    </ul>
    <hr>
    <h5>$50</h5>
    <ul>
      <li>• Feeds a student for a month</li>
      <li>• Gives the students access to  safe drinking water.  000 liters of safe drinking water to the community </li>
      <li></li>
    </ul>
    <hr>
    <h5>$100</h5>
    <ul>
      <li>• Cultivates an acre of the school, providing fresh veggies for school lunches</li>
      <li>• Provides a desk and a chair for a student</li>
      <li>• Allows our kids to travel and compete with other teams in the region. Including track, soccer, and debate</li>
    </ul>
    <hr>
    <h5>$500</h5>
    <ul>
      <li>• Sends a class on an educational adventure. Allows kids to venture out of the village for educational field trips, and hands on learning</li>
      <li>• Support our wonderful, highly trained, and dedicated Tanzanian staff--they make it all possible</li>
    </ul>
  </div>
</div>
</div>


<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'Sand Castles United',
  description: 'One-time donation',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

$(window).on('popstate', function() {
  handler.close();
});
</script>
